body {
    background-color: seagreen;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-keys kbd {
    position: relative;
    color: #000000;
    background-color: #FFFFFFFF;
    display: inline-block;
    height: 200px;
    width: 60px;
    border: 2px solid #000000;
    line-height: 300px;
    text-align: center;

    z-index: 1;
}
.black-keys kbd{
    top: 120px;
    /*margin: 20px;*/
    /*float: top;*/
    position: relative;
    color: white;
    background-color: black ;
    display: inline-block;
    height: 120px;
    width: 45px;
    line-height: 180px;
    text-align: center;
    z-index: 2;
}
.w{
    margin-left: 40px;
}
.e{
    margin-left: 25px;
}
.t{
    margin-left: 85px;
}
.y{
    margin-left: 15px;
}
.u{
    margin-left: 25px;
}
